<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<link rel="stylesheet" href="text/css" href="../public/css/style.css">
<%- include('partials/header') %>



<div class="jumbotron text-center">


  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Welcome!!...You're at my page!!</h1>
   
    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/reset" role="button">Reset Password</a>
  </div>


</div>

<script>
  <% if (flash.success && flash.success.length >0) {%>
    new Noty({
      theme : 'relax',
      text : "<%= flash.success%>",
      type : 'success',
      layout : 'topRight',
      timeout : 1500
    }).show();
  <% } %>


  <% if (flash.error && flash.error.length >0) {%>
    new Noty({
      theme : 'relax',
      text : "<%= flash.error%>",
      type : 'error',
      layout : 'topRight',
      timeout : 1500
    }).show();
  <% } %>
</script>



<%- include('partials/footer') %>
